/* Alias / Component Token — Foreground (텍스트·아이콘). */
:root{
--Color-Fg-Primary:var(--Color-GrayScale-900);
--Color-Fg-Secondary:var(--Color-GrayScale-700);
--Color-Fg-Tertiary:var(--Color-GrayScale-500);
--Color-Fg-On_color:var(--Color-GrayScale-White);
--Color-Fg-Disabled:var(--Color-GrayScale-400);
--Color-Fg-Placeholder:var(--Color-GrayScale-500);

--Color-Fg-Inverse-Primary:var(--Color-GrayScale-100);
--Color-Fg-Inverse-Secondary:var(--Color-GrayScale-300);

--Color-Fg-Object-Default:var(--Color-GrayScale-400);
--Color-Fg-Object-Strong:var(--Color-GrayScale-600);
--Color-Fg-Object-Subtle:var(--Color-GrayScale-100);
--Color-Fg-Object-Disabled:var(--Color-GrayScale-300);

--Color-Fg-Brand-Default:var(--Color-Primary-600);
--Color-Fg-Brand-Hover:var(--Color-Primary-800);
--Color-Fg-Brand-Pressed:var(--Color-Primary-900);
--Color-Fg-Brand-Disabled:var(--Color-Primary-200);

--Color-Fg-Neutral-Default:var(--Color-GrayScale-500);
--Color-Fg-Neutral-Hover:var(--Color-GrayScale-700);
--Color-Fg-Neutral-Pressed:var(--Color-GrayScale-900);
--Color-Fg-Neutral-Disabled:var(--Color-GrayScale-400);
--Color-Fg-Neutral-Disabled_icon:var(--Color-GrayScale-300);

--Color-Fg-Danger-Default:var(--Color-Red-700);
--Color-Fg-Danger-Hover:var(--Color-Red-800);
--Color-Fg-Danger-Pressed:var(--Color-Red-900);
--Color-Fg-Danger-Disabled:var(--Color-Red-300);

--Color-Fg-System-Neutral:var(--Color-GrayScale-700);
--Color-Fg-System-Critical:var(--Color-Red-700);
--Color-Fg-System-Notice:var(--Color-Yellow-600);
--Color-Fg-System-Success:var(--Color-Green-500);
--Color-Fg-System-Etc:var(--Color-Teal-500);
--Color-Fg-System-Promotion:var(--Color-Purple-500);

--Color-Fg-Select-Default:var(--Color-Fg-Primary);
--Color-Fg-Select-Hover:var(--Color-Fg-Primary);
--Color-Fg-Select-Selected:var(--Color-Fg-Brand-Default);
--Color-Fg-Select-Disabled:var(--Color-Fg-Disabled);

--Color-Fg-Controls-Default:var(--Color-Fg-Object-Default);
--Color-Fg-Controls-Selected:var(--Color-Fg-Brand-Default);
--Color-Fg-Controls-Selected_disable:var(--Color-Fg-Brand-Disabled);
--Color-Fg-Controls-Disabled:var(--Color-Fg-Object-Disabled);
}
