/* Alias / Component Token — Background (면색). */
:root{
--Color-Bg-Primary:var(--Color-GrayScale-White);
--Color-Bg-Secondary:var(--Color-GrayScale-050);
--Color-Bg-Tertiary:var(--Color-GrayScale-White);
--Color-Bg-Dimmed:var(--Color-GrayScale-Black_alpha30);

--Color-Bg-Grouped-Primary:var(--Color-GrayScale-050);
--Color-Bg-Grouped-Secondary:var(--Color-GrayScale-White);
--Color-Bg-Grouped-Tertiary:var(--Color-GrayScale-050);

--Color-Bg-Surface-Plain:var(--Color-GrayScale-White);
--Color-Bg-Surface-Subtle:var(--Color-GrayScale-050);
--Color-Bg-Surface-Strong:var(--Color-GrayScale-100);
--Color-Bg-Surface-Disabled:var(--Color-GrayScale-100);
--Color-Bg-Surface-Inverse:var(--Color-GrayScale-900);
--Color-Bg-Surface-Inverse_translucent:rgba(41,41,41,.6);

--Color-Bg-Brand-Default:var(--Color-Primary-600);
--Color-Bg-Brand-Hover:var(--Color-Primary-700);
--Color-Bg-Brand-Pressed:var(--Color-Primary-800);
--Color-Bg-Brand-Disabled:var(--Color-Primary-200);

--Color-Bg-Brand_subtle-Default:var(--Color-Primary-050);
--Color-Bg-Brand_subtle-Hover:var(--Color-Primary-100);
--Color-Bg-Brand_subtle-Pressed:var(--Color-Primary-200);
--Color-Bg-Brand_subtle-Disabled:var(--Color-Primary-050);

--Color-Bg-Neutral-Default:var(--Color-GrayScale-100);
--Color-Bg-Neutral-Hover:var(--Color-GrayScale-200);
--Color-Bg-Neutral-Pressed:var(--Color-GrayScale-300);
--Color-Bg-Neutral-Disabled:var(--Color-GrayScale-100);

--Color-Bg-Neutral_subtle-Default:var(--Color-GrayScale-Transparent);
--Color-Bg-Neutral_subtle-Hover:var(--Color-GrayScale-200);
--Color-Bg-Neutral_subtle-Pressed:var(--Color-GrayScale-300);
--Color-Bg-Neutral_subtle-Disabled:var(--Color-GrayScale-Transparent);

--Color-Bg-Danger-Default:var(--Color-Red-700);
--Color-Bg-Danger-Hover:var(--Color-Red-800);
--Color-Bg-Danger-Pressed:var(--Color-Red-900);
--Color-Bg-Danger-Disabled:var(--Color-Red-300);

--Color-Bg-Danger_subtle-Default:var(--Color-Red-100);
--Color-Bg-Danger_subtle-Hover:var(--Color-Red-200);
--Color-Bg-Danger_subtle-Pressed:var(--Color-Red-300);
--Color-Bg-Danger_subtle-Disabled:var(--Color-Red-100);

--Color-Bg-Overlay-Default:var(--Color-GrayScale-Black_alpha15);
--Color-Bg-Overlay-Hover:var(--Color-GrayScale-Black_alpha20);
--Color-Bg-Overlay-Pressed:var(--Color-GrayScale-Black_alpha20);
--Color-Bg-Overlay-Disabled:var(--Color-GrayScale-Transparent);

--Color-Bg-System-Notice_light:var(--Color-Yellow-100);
--Color-Bg-System-Critical_light:var(--Color-Red-100);
--Color-Bg-System-Success_light:var(--Color-Green-100);
--Color-Bg-System-Etc_light:var(--Color-Teal-100);
--Color-Bg-System-Promotion_light:var(--Color-Purple-100);
--Color-Bg-System-Neutral:var(--Color-GrayScale-500);
--Color-Bg-System-Critical:var(--Color-Red-700);
--Color-Bg-System-Notice:var(--Color-Yellow-600);
--Color-Bg-System-Success:var(--Color-Green-500);
--Color-Bg-System-Etc:var(--Color-Teal-500);
--Color-Bg-System-Promotion:var(--Color-Purple-500);

--Color-Bg-Select-Default:var(--Color-GrayScale-White);
--Color-Bg-Select-Hover:var(--Color-GrayScale-050);
--Color-Bg-Select-Selected:var(--Color-Primary-050);
--Color-Bg-Select-Disabled:var(--Color-GrayScale-White);
}
